{% extends "layout.html" %}

{% block title %} College Connect {% endblock %}

{% block content %}

<br/>
<div class="container w3-center">
	
	<div style="margin: 20px"><font color="aqua">
		<h1 style="font-size:70px; font-family:'Ibarra Real Nova',sans-serif;">College Connect</h1></font>
	</div><br/>

	<h3 style="font-size:37px; color: white; font-family:'PT sans',sans-serif;">We are on a mission to make people more open and share their knowledge with everyone</h3>
	<br/><br/>

	<div class="w3-center row ">
		<div class="col" style="padding: 5px"><font color="white">
			<p style="font-size:35px; font-family:'Work sans',sans-serif;">Hurry up and register if you haven't..!</p></font><br/><br/>
		<a href="{{ url_for('register') }}" style="color: white ;">
			<button type = "button" style="font-size:25px" class="btn btn-info rounded-lg ">
			Register Now..!</button></a></div>

		<div class="col" style="padding: 5px"><font color="white">
			<p style="font-size:35px; font-family:'Work sans',sans-serif;">Login here if you have already registered..!</p></font><br/><br/>
		<a href="{{ url_for('login') }}" style="color: white ;">
			<button type = "button" style="font-size:25px" class="btn btn-info rounded-lg ">
			Login..!</button></a></div>
	</div>

</div>


{% endblock %}
